  /* Navbar  */
  #top_nav {
      background-color: #dAAc00;
      color: rgb(255, 255, 255);
      font-size: 20px;
      padding-left: 25px;
      padding: 1% 8%;
      /* font-weight: 600; */
  }

  .navbar-nav {
      font-size: 20px;
      padding-left: 25px;
  }

  #top_search {
      background-color: #fcc302;
      color: white;
      border-radius: 0;
      position: relative;
      left: 47px;
      box-shadow: 5px 10px 11px 0px #00000021;
      border: none;
  }

  #top_search::placeholder {
      color: white;
  }


  #top_search_btn {
      z-index: 1;
      position: relative;
      border: none;
      border-radius: 0px 5px 5px 0px;
      background-color: #00bec9;
      color: white;

  }


  @media only screen and (max-width:768px) {
      #search_box {
          margin-bottom: 30px;
          margin-top: 20px;
      }

  }

  @media only screen and (max-width:500px) {
      #top_nav {
          padding: 0;

      }

  }

  /* NavBar End  */

  /* Hero Section  */
  #hero_section {
      background-color: #fcc302;
      padding-bottom: 20px;
  }

  #banner_text h1 {
      color: white;
      font-size: 70px;
      margin-top: 100px;
  }

  #banner_text p {
      color: white;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  #hero_contact {
      background-color: #00bec9;
      color: white;
      border: 2px solid #00bec9;

  }

  #hero_services {
      color: white;
      background-color: #fcc302;
      border: 2px solid white;
      margin-left: 15px;
  }


  #banner_img {
      margin-top: 70px;
      width: 350px;
  }


  @media screen and (max-width:1300px) {
      #banner_text h1 {
          font-size: 50px;
      }

      #banner_img {
          padding-bottom: 70px;
      }
  }

  @media screen and (max-width:900px) {
      #banner_text h1 {
          font-size: 40px;
      }

      #banner_img {
          margin-top: 70px;
          width: 300px;

      }
  }
  /* Hero Section End  */

  /* Service Section  */
  #service_sec_text {
      padding-top: 10%;
      padding-bottom: 5%;
  }

  #service_sec_text h1 {}

  #service_sec_btn {
      background-color: #fcc302;
      border: 2px solid #fcc302;
      color: white;
  }

  #service_sec_img {
      position: relative;
      top: 17%;
      width: 60%;
  }

  @media screen and (max-width:900px) {

      #service_sec_img {
          position: relative;
          top: 15%;
      }

  }

  /* Service Section End  */