  /* Navbar  */
  #top_nav {
      background-color: #dAAc00;
      color: rgb(255, 255, 255);
      font-size: 20px;
      padding-left: 25px;
      padding: 1% 8%;
      /* font-weight: 600; */
  }

  .navbar-nav {
      font-size: 20px;
      padding-left: 25px;
  }

  #top_search {
      background-color: #fcc302;
      color: white;
      border-radius: 0;
      position: relative;
      left: 47px;
      box-shadow: 5px 10px 11px 0px #00000021;
      border: none;
  }

  #top_search::placeholder {
      color: white;
  }


  #top_search_btn {
      z-index: 1;
      position: relative;
      border: none;
      border-radius: 0px 5px 5px 0px;
      background-color: #00bec9;
      color: white;

  }


  @media only screen and (max-width:768px) {
      #search_box {
          margin-bottom: 30px;
          margin-top: 20px;
      }

  }

  @media only screen and (max-width:500px) {
      #top_nav {
          padding: 0;

      }

  }

  /* NavBar End  */

  /* Hero Section  */
  #hero_section {
      background-color: #fcc302;
      padding-bottom: 20px;
  }

  #banner_text h1 {
      color: white;
      font-size: 70px;
      margin-top: 100px;
  }

  #banner_text p {
      color: white;
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  #hero_contact {
      background-color: #00bec9;
      color: white;
      border: 2px solid #00bec9;

  }

  #hero_services {
      color: white;
      background-color: #fcc302;
      border: 2px solid white;
      margin-left: 15px;
  }


  #banner_img {
      margin-top: 70px;
      width: 350px;
  }


  @media screen and (max-width:1300px) {
      #banner_text h1 {
          font-size: 50px;
      }

      #banner_img {
          padding-bottom: 70px;
      }
  }

  @media screen and (max-width:900px) {
      #banner_text h1 {
          font-size: 40px;
      }

      #banner_img {
          margin-top: 70px;
          width: 300px;

      }
  }

  /* Hero Section End  */

  /* Service Section  */
  #service_sec_text {
      padding-top: 10%;
      padding-bottom: 5%;
  }

  #service_sec_text h1 {}

  #service_sec_btn {
      background-color: #fcc302;
      border: 2px solid #fcc302;
      color: white;
  }

  #service_sec_img {
      position: relative;
      top: 17%;
      width: 60%;
      padding-bottom: 50px;
  }

  @media screen and (max-width:900px) {

      #service_sec_img {
          position: relative;
          top: 15%;
      }

  }

  /* Service Section End  */

  /* Counter Section  */
  #counter_section {
      background-color: #fcc302;
  }

  h5 {
      font-weight: bold;
  }

  .counter_types p {
      font-size: 28px;
  }

  /* Counter Section End  */

  /* Blog Section */
  #blog {
      padding-bottom: 70px;
      padding-top: 70px;
  }

  #blog_title {
      font-style: 50px;
      font-weight: bolder;
  }

  #blog_p {
      font-style: 20px;
      margin-bottom: 70px;
  }

  .article_detail {
      padding: 15px;
      border: 2px solid rgb(185, 185, 185);
      border-top: 0;
  }

  .article_date,
  .article_link {
      color: #00bec9;
  }

  /* Blog Section End */

  /* Footer  */
  #footer {
      background-color: #343434;
      color: white;
      padding-top: 80px;
      padding-bottom: 80px;
  }

  #footer a {
      color: white;
      text-decoration: none;
  }

  #footer_form {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  #footer_search_box {
      background-color: #fcc302;
      color: white;
      border: 0;
      padding: 15px;
      width: 100%;
      max-width: 250px;
      position: relative;
      left: 10px;

  }

  #footer_search_submit {
      background-color: #00bec9;
      color: white;
      border: 0;
      border-radius: 0;
      padding: 15px 40px;
  }

  .icons {
      margin-top: 5px;
  }

  .social_icon {
      font-size: 25px;

      padding-left: 5px;

  }

  @media screen and(max-width:1150px) {
      #footer_search_box {
          max-width: 200px;
      }
  }

  @media screen and(max-width:768px) {
      #footer_search_box {
          max-width: 120px;
      }
  }

  @media screen and(max-width:500px) {
      #footer_search_box {
          max-width: 200px;
      }

      #footer {
          padding-top: 10px;
      }

      #footer h4 {
          padding-top: 50px;
      }

  }

  /* Footer End */